body {
background-image: url(../images/background.jpg);
background-size: cover;
}

.center {
text-align: center;
}

.jumbotron {
    opacity: 0.5;
}

.smallgif {
    height: 39px !important;
    padding-right: 2%;
}